
#wrapper {
  width: 300px;
  height: 400px;
  margin: auto;
}
header #result{
  width: 250px;
  height: 35px;
  padding-right: 5px;
  text-align: right;
  margin-left: 5px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #grey;
}
#body .btn {
width: 50px;
padding: 20px;
margin-left: 10px;
font-size: 24px;
text-align: center;
margin-bottom: 10px;
}
#body #calculate {
width: 50px;
padding: 20px;
margin-left: 10px;
font-size: 24px;
text-align: center;
margin-bottom: 10px;
}
#body #clear {
width: 100px;
padding: 20px;
margin-left: 80px;
font-size: 24px;
text-align: center;
margin-bottom: 10px;
}
